* {
    margin: 0;
    padding: 0;
}
/* font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
    background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);

    min-height: 100vh;
}

.page {
    width: 1040px;
    margin: 0px auto;
    padding-top: 40px;
    padding-bottom: 28px;
}

/* Check margin */
nav {
    font-family: "Mulish", sans-serif;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Check list styling */
nav ul {
    display: flex;
    gap: 48px;
}

/* Check list style */
nav ul li {
    list-style: none;
}

/* Check list link style */
nav ul li a {
    text-decoration: none;
    color: grey;
}

/* Make text bold on hover */
nav ul li a:hover {
    font-weight: bold;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
}

/* Check margin and font styling */
.text h1 {
    font-family: "Mulish", sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 16px;
}

/* Check font styling */
.text h1 span {
    color: #82c6c6;
    font-weight: 700;
}

/* Check font styling */
.text p {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: #666;
    margin-bottom: 48px;
}

/* Check font styling and make sure the button is rounded */
.text button {
    font-family: "Open Sans", sans-serif;
    gap: 8px;
    background-color: #6db290;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;
}

/* Handle when user hover on the button */
.text button:hover {
    background-color: #5a9b7c;
}

/* Check the text styling */
footer {
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

/* Check the text styling */
footer a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

#balls {
    position: fixed;
    bottom: 0px;
    right: 0px;
}
